$c-black: #000000;
$c-white: #FFFFFF;
$c-main-blue: #2199E8;
$c-main-blue-hover: #1583CC;
$c-main-green: #3ADB76;
$c-main-green-hover: #22BB5B;
$c-main-orange: #FFAE00;
$c-main-orange-hover: #CC8B00;
